[project]
name = "DebugLoopRace"
version = "0.1.0"

[target.DebugLoop]
type = "executable"
sources = ["src/DebugLoop/*.cpp"]
include-directories = ["include"]
link-options = ["/INCREMENTAL:NO"]

[target.DebugLoop.properties]
VS_DEBUGGER_COMMAND_ARGUMENTS = "\"$<TARGET_FILE:DebugMe>\""

[template.test]
type = "executable"
link-options = ["/DYNAMICBASE:NO", "/INCREMENTAL:NO"]

[target.DebugMe]
type = "test"
sources = ["src/DebugMe/*.cpp"]

[target.MemoryTest]
type = "test"
sources = ["src/MemoryTest/*.cpp"]

[target.AntiDebugHandle]
type = "test"
sources = ["src/AntiDebugHandle/*.cpp"]

[target.TestTitanEngine]
type = "executable"
sources = ["src/TestTitanEngine/*.cpp", "src/TestTitanEngine/*.h"]
link-directories = ["src/TestTitanEngine"]
x64.link-libraries = ["TitanEngine_x64"]
x32.link-libraries = ["TitanEngine_x86"]

[target.TestTitanEngine.properties]
VS_DEBUGGER_COMMAND_ARGUMENTS = "\"$<TARGET_FILE:DebugMe>\""

[target.TestDeletionRace]
type = "executable"
sources = ["src/TestDeletionRace/*.cpp", "src/TestDeletionRace/*.h"]
link-directories = ["src/TestDeletionRace"]
x64.link-libraries = ["TitanEngine_x64"]
x32.link-libraries = ["TitanEngine_x86"]

[target.TestDeletionRace.properties]
VS_DEBUGGER_COMMAND_ARGUMENTS = "\"$<TARGET_FILE:DebugMe>\""
